a {
    color: #0ca6a3;
    transition: .3s;
}

a:hover,
a:active,
a:focus {
    color: #e16f2f;
    outline: none;
    text-decoration: none;
}
.navbar{
    background-color:white !important;
}
.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  color: #fff;
  font-size:2em;
}
.navbar-brand img{
    width:100px;
    height:100px;
}

.remove-vid-marg {
  margin: 0px;
  padding: 0px;
}

.vid-parent {
  position: relative;
}
.video {
  width: 100%;
  height: 100%;
}
.vid-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #225470;
  z-index: 1;
  opacity: 0.8;
}

.vid-content {
  color: #fff;
  position: absolute;
  top: 35%;
  left: 35%;
  z-index: 2;
  text-align: center;
}

.bottom-banner {
  color: #fff;
  padding: 10px;
}

.bottom-banner:first-child {
  padding-left: 50px;
}

a.social-hover:hover {
  padding: 5px 100px;
  text-decoration: none;
  background-color: #0ca6a3;
}

.stripe {   
  background-image: linear-gradient(240deg, #ed213a, #93291e);
  padding: 3rem;
  height: 13rem;
  margin-top: 4rem;
  transform: rotate(10deg);
  z-index: -5;
}

@media screen and (min-width: 0px) and (max-width: 700px) {
  .my-content,
  .txt-banner,
  .stripe {
    display: none;
  } /* hide it on small screens */

  .vid-content {
    top: 12%;
    left: 60%;
  }
  .custom-nav .custom-nav-item a {
    padding: 10px 20px;
    color:#e16f2f;
  }

  .custom-nav-item:hover {
    background-color: none;
    border: none;
    border-radius: none;
  }
}

.eye-align{
       float:right;
        margin-left:-25px;
        margin-top:-30px;
        right:10px;
        position:relative;
        z-index:2;
}